dapla-toolbelt==3.2.2
ssb-project-cli==1.4.7
dapla-team-cli==0.3.6
kvakk-git-tools==2.4.1
nbstripout==0.8.1 #added after request by aei
poetry==2.0.1 #added after request by aei
cruft[pyproject]==2.16.0 #added after request by aei
nox==2024.10.9 #added after request by aei